
*.pyc
*.pdf
*.sqlite3

node_modules/
# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# Other
.DS_Store
.idea/
.vscode/